/* Styles généraux */
.root {
    -fx-background-color: #F0F0F0;
}

/* Styles pour le panneau principal */
#panePrincipal {
    -fx-padding: 10px;
}

/* Styles pour le panneau de difficulté */
#paneDificulte {
    -fx-background-color: #4CAF50;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

#labelDificulte {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

/* Styles pour le panneau de compteurs de bombes et de temps */
#paneBombeRest, #paneBombeRest1 {
    -fx-background-color: #E8E8E8;
    -fx-padding: 5px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

#labelNbBombes, #labelTemps, #labelTempsFinal {
    -fx-font-size: 18px;
}

/* Styles pour le bouton de retour */
#boutonRetour {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

/* Styles pour le panneau d'informations de fin de jeu */
#paneInfoFin {
    -fx-background-color: #E8E8E8;
    -fx-padding: 10px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

#labelVicDef {
    -fx-font-size: 32px;
    -fx-text-fill: #4CAF50;
}

#labelTempsFinal {
    -fx-font-size: 16px;
}

/* Styles pour le bouton de restart */
#boutonRestart {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}
